extends ../layout

block content
  .container.d-flex.flex-row
    each tour in tours
      .product
        a(href=`/tours/show/${tour._id}`)
          div.card(style="width: 18rem;")
            img.card-img-top(src=tour.main_photo, alt="tour main photo")
            div.card-body
              h5.card-title=tour.title
              p.card-textSome= tour.description

