extends ../layout

block content
  .container.d-flex.flex-column
    h1.main-title 정보관리
    form(action=`/guides/info?_method=put`, method='POST')
      .form-group
        label(for='guide_photo') 프로필 사진
        img#preview.img-fluid(src=guide.profile_photo, alt="profile photo")
        input.form-control-file#file(type="file")
        input#url.form-control(type="text", readonly="readonly", name="guide_photo", value="")
      .form-group
        label(for='guide_name') 가이드명
        input.form-control#guide_name(type='text', name='guide_name', value = guide.name)
      .form-group
        label(for='guide_profile') 프로필
        input.form-control#guide_profile(type='text',name = 'guide_profile', value = guide.profile)
      .form-group
        label(for='kakao_id') 카카오 아이디
        input.form-control#kakao_id(type='text', name='kakao_id', value = guide.kakao_id)
      .form-group
        label(for='tel') 전화번호
        input.form-control#tel(type='tel', name='tel', value = guide.tele)
      button.btn.btn-primary(type='submit') 저장 
  script(src="/javascripts/image_edit.js")
    