extends ../layout

block hero-unit
  nav.nav.nav-pills.nav-justified
    a.nav-link(href=`/guides/info`) 정보관리
    a.nav-link.active(href=`/guides/offer`) 나의 상품 목록
    a.nav-link(href='/guides/offer/new') 상품등록

block content
  .container.d-flex.flex-column
    .place 장소
      .form-group
        .input-group.mb-3
          .input-group-prepend
            label.input-group-text(for='country') 나라
          select#country.custom-select(name = 'contry')
            option(value='etc' selected) 기타
      .form-group
        .input-group.mb-3
          .input-group-prepend
            label.input-group-text(for='city') 도시
          select#city.custom-select(name = 'city')
            option(value='etc' selected) 기타