extends ../layout

block content
  .container.d-flex.flex-column
    h2.main-title 장소 관리
    form(action=`/managers/offer_place`, method='POST')
      .form-group
        label(for='contry') 나라
        input.form-control#contry(type='text', name='contry')
      .form-group
        label(for='city') 도시
        input.form-control#city(type='text', name='city')
      button.btn.btn-primary(type='submit') 저장
    table.table.table-hover
      thead
        tr
          th 나라
          th 도시
      tbody
        each place in places
          tr
            td= place.contry
            td= place.city
      